.pagestyle {
        background: palegoldenrod;
        padding: 0px 50px 100px 50px;
}

.font1 {
        font-size: 100px;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        margin: 30px;
}

.font3 {
        font-size: 20px; 
        text-align: right;
        font-family: 'Amatic SC', sans-serif;
        margin: 2px;
}

.blogh {
        font-size: 70px;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        border-width: 5px;
}

.h3 {
        font-size: 25px; 
        text-align: justify;
        font-family: 'Montserrat', sans-serif;
        margin: 2px;
}
     
.btext {
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
}

li {
        float: left;
}
      
li a {
        display: block;
        color: white;
        text-align: center;
        padding: 27px;
        text-decoration: none;
        background-color: #333;
}

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

li a:hover {
        background-color:lightgrey;
}

.mySlides {
        display:none; 
}

.autofitimg {
        height: 300px;
        width: 2000px;
}

.img {
        max-width: 100%;
        max-height: 100%;
}
     

