.pagestyle {
        background: palegoldenrod;
        padding: 0px 50px 100px 50px;
}

.pic { 
        border-radius: 50%; 
        float: right;
}

.font1 {
        font-size: 100px;
        text-align: center;
        font-family: 'Amatic SC', cursive;
}


.font3 {
        font-size: 20px; 
        text-align: right;
        font-family: 'Montserrat', sans-serif;
        margin: 2px;
}

.blogh {
        font-size: 70px;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        border-width: 5px;
}

.h3 {
        font-size: 25px; 
        text-align: justify;
        font-family: 'Montserrat', sans-serif;
        margin: 2px;
}


.text { 
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        float: right;
        width: 700px;
}
      
.collumn {
        padding: 20px;
        margin: 50px;
}

.itext {
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        width: 800px;
}

li {
        float: left;
}
      
li a {
        display: block;
        color: white;
        text-align: center;
        padding: 22px;
        text-decoration: none;
        background-color: #333;
}

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

li a:hover {
        background-color:lightgrey;
}

.mySlides {
        display:none; 
}
     

